body{
    font-size: 220%;
    padding-top: 5%;
    text-align: center;
}
input{
    font-size: 120%;
}
button{
    margin-top: 10px;
    size: 200%;
    font-size: 120%;
}
p {
    
    font-size: 220%;
}